# Project exclude paths
/target/
/.idea/

testrun/assets/
testrun/config/
testrun/libraries/

testrun/crash-reports/
testrun/logs/

testrun/screenshots/
testrun/resourcepacks/
testrun/shaderpacks/

testrun/saves/

testrun/optionsshaders.txt
testrun/optionsof.txt
testrun/options.txt

testrun/server.properties
testrun/servers.dat

testrun/usercache.json

testrun/Atani/

*.xml
.idea/discord.xml
*.log
