.idea/
.gradle/
.settings/

*.iml

*.classpath
*.project

target/
build/
test_run/
work/crash-reports
work/resourcepacks
work/shaderpacks
work/saves
work/options.txt
work/optionsof.txt
work/server.properties
work/servers.dat
work/usercache.json
work/imgui-atani.ini
work/optionsshaders.txt